<table>
    <tr>
        <td>Name</td>
        <td>Is Online ?</td>
    </tr>
    <tr *ngFor="let a of records">
        <td>{{a.name}}</td>
       <td>{{a.online}}</td> 
    </tr>
</table> 
<br>
<br>
<br>
<br>
<br>
<br>
<table>
    <tr>
        <td>id</td>
        <td>name</td>
        <td>email</td>
        <td>address</td>
    </tr>
    <tr *ngFor="let a of recordData">
        <td>{{a.id}}</td>
       <td>{{a.name}}</td> 
       <td>{{a.email}}</td>
       <td>{{a.address.street}}</td> 
    </tr>
</table> 
